sidenav-container {
  height: 90%;
}

.sidenav {
  width: 190px;
  height: 100%;
}

.sidenav .mat-toolbar {
  background: #5eb8bd;
  width: 189px;
  height: 54.1px;
}

.mat-toolbar {
  background: #2f5b6e;
  text-align: center;
}

mat-nav-list {
  background: #5eb8bd;
}
